{{ define "main" }}
<section class="rg-header container-fluid bg-dark_section">
    <div class="row">
        <div class="col text-md-center text-center">
            <h1>L’œil au bois - ébénisterie</h1>
            <h2>Romaric Gauthier</h2>
            <h3>Réalisations et rénovations de meubles en bois dans le Jura</h3>
        </div>
    </div>
</section>
<section class="container-fluid bg-light_section">
    <div class="row">
        <div class="col text-md-center text-center">
            <p>
                « Après plusieurs années d’études en Sciences de la Vie et de la Terre, il ne fait aucun doute que la forêt est bien vivante : les arbres grandissent, communiquent entre eux, s’entraident, se reproduisent et meurent. C’est en découvrant les particularités des arbres que j’ai décidé de m’intéresser à l’ébénisterie.
            </p>
            <p>
                Le Jura, dont je suis originaire, est naturellement le lieu que j’ai choisi pour ouvrir mon atelier d’ébéniste et travailler cette matière : le bois. De la petite montagne aux plus hauts sommets du massif Jurassien, impossible de ne pas croiser sur son chemin épicéa, chêne, frêne, bouleau ou autres essences caractéristiques de cette région.
            </p>
            <p>
                Choisir un arbre, en fendre des planches, attendre encore quelques années de séchage, autant d’étapes indispensables avant de pouvoir entamer le travail d’ébénisterie. Bien qu’il ne soit plus enraciné, le bois continu de travailler, de respirer, se dilate, craque, se fend pour rendre chaque meuble unique.
            </p>
            <p>
                Chacune de ces essences de bois présente des qualités olfactives, textuelles et visuelles particulières. Les techniques d’ébéniste que j’utilise pour les travailler ne sont pas nouvelles, tenons, mortaises, feuillures, collages… mais elles se sont modernisés avec le temps. »
            </p>
        </div>
    </div>
</section>
<section class="container-fluid bg-dark_section">
    <div class="row justify-content-center">
        <div class="col-12 text-md-center text-center">
            <p class="title">Plan d'accès</p>
        </div>
        <div id="map"></div>
    </div>
</section>
{{ end }}